.header {

}

.trigger {

}

.logo {
  height: 48px;
  margin: 16px;
  background-image: url('./logo.png');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: contain;
}

.sidebar {

}

.footer {

}