.content {
    margin: 24px 16px; 
    padding: 24px; 
    background: #fff
}

.breadcrumb {
    border-width: 1;
    border-bottom: darkgray;
}

.breadcrumbPrevious {
    color: darkgray;
}

.breadcrumbCurrent {
    color: gray;
}