.header {
    background: #448aff;
    padding: 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.headerText {
    color: #fff;
    margin-left: 10px;
}

.headerMenu {
    float: right;
    margin-right: 10px;
}

.headerMenuItem {
    margin-left: 10px;
}

.headerTitle {
    width: 200px;
    height: 64px;
    float: left;
}

.headerTitleSmall {
    width: 80px;
    height: 64px;
    float: left;
}

.logo {
    width: 168px;
    height: 32px;
    margin: 16px;
    color: #fff;
    background: #448aff;
    background-image: url('../logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.logoSmall {
    height: 32px;
    margin: 16px;
    color: #fff;
    background: #448aff;
    background-image: url('../logo-small.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
}