.header {
    background: #448aff;
    padding: 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.headerText {
    color: #fff;
    margin-left: 10px;
}

.headerMenu {
    float: right;
    margin-right: 10px;
}

.headerMenuItem {
    margin-left: 10px;
}